.container
{
        width: auto;
        height: 100vh;
        background-color: rgb(0, 0, 0);
        border:2px solid #CCCCCC;
        margin:auto;
       
}
.calc_div_resultat{width: auto;
height: 25vh;
}
.calc_div_btn{width: auto;
  height: 15vh;


}
.calc_btn_egale{
  
  height: 15vh;

}
.calc_btn{

}