.container {
  width: auto;
  height: 100vh;
  background-color: rgb(255, 255, 255);

  margin: auto;

}

.calc_div_resultat {
  width: auto;
  height: 25vh;
}

.calc_div_btn {
  width: auto;
  height: 15vh;
  font-size: 2rem;
  font-family: fantasy;


}

.calc_btn_egale {

  height: 15vh;

}

.calc_btn {
  background-color: #FCF3CF;

}

